/* styles.css */
.parallax {
    /* The image used */
    background-image: url('../images/jobseekers.jpeg');

    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
