
{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">{{job.title}}</h2>
            <p class="col-md-8 fs-5 mt-3">
                {{job.state}} | Remote | Rs {{job.salary|intcomma}}
            </p>
            {% if user.is_authenticated %}
            {% if has_applied == False %}
            <a href="{% url 'apply-to-job' job.pk %}" class="btn btn-primary btn-lg">Apply Now</a>
            {% else %}
            <p><span class="text-danger">You have already applied for this job</span></p>
            {% endif %}
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg">Login to Apply</a>
            {% endif %}
        </div>
    </div>
</section>

<div>
    <section>
        <h5>Job Requiements</h5>
        <p>
           {{job.requirements}}
        </p>
    </section>
</div> <br>

<div>
    <section>
        <h5>Ideal Candidate</h5>
        <p>
           {{job.ideal_candidate}}
        </p>
    </section>
</div> <br>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Other Details</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">

            <div class="card-body">
                <h5 class="card-title">About the Company</h5>
                <p class="card-text">{{job.company.name}}</p>
                <p class="card-text">{{job.company.city}}, {{job.company.state}}</p>
                <p class="card-text">{{job.company.est_date}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">

            <div class="card-body">
                <h5 class="card-title">Related Jobs</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal
                    height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div> <br>


{% endblock content %}